# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment Variables
.env
client/.env
server/.env

# Build Output
client/dist/

# Logs
*.log
npm-debug.log*

# OS & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
